.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-samira {
  background-color: #4187ac;
}

.color-samira {
  color: #4187ac;
}

button .color-samira :hover {
  background-color: #ffffff !important;
}

.pulse {
  /* width: 70px;
  height: 70px; */
  /* border-radius: 50%; */
  position: relative;
  animation: animate 5s linear infinite;
}
.pulse i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  height: 100%;
  cursor: pointer;
}
@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgb(74, 255, 74, 0.7), 0 0 0 0 rgba(74, 255, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 10px rgb(255, 109, 74, 0), 0 0 0 0 rgb(74, 255, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 20px rgb(255, 109, 74, 0), 0 0 0 20px rgb(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0);
  }
}
